<div class="row">
<div *ngIf="usuarios.length > 0 ">


 <table id="usuariosTable" class="table table-bordered table-hover w-100" >
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Usuario</th>
      <th>Empresa</th>
      <th>Rol</th>
       <th>Grupo</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios">
      <td>{{ u.nombres }}</td>
      <td>{{ u.username }}</td>
      <td>{{ u.empresa }}</td>
      <td>{{ u.rol}}</td>
      <td>{{ u.grupo }}</td>
      <td>
        <!-- Acciones -->
      </td>
    </tr>
  </tbody>
 </table>
 
 <app-data-table [tableId]="'usuariosTable'"
  [options]="dataTableOptions"
  [refreshTrigger]="refreshToken">
</app-data-table>

 </div>
</div>
 