/* You can add global styles to this file, and also import other style files */
/* Angular helper */
.page-wrapper {
  min-height: 100vh;
}

/* Dropdowns funcionan solo con clase active */
.sidebar-dropdown .sidebar-submenu {
  display: none;
}

.sidebar-dropdown.active .sidebar-submenu {
  display: block;
}
