<app-loader [loading]="loading"></app-loader>

<div class="container-fluid">
  <div class="container my-3">
    <form [formGroup]="filtroForm" class="row g-3">
      <div class="col-md-4">
        <label class="form-label">Hacienda</label>
        <select class="form-select" formControlName="idhacienda">
          <option value="">Seleccione Hacienda</option>
          <option *ngFor="let hacienda of haciendas" [value]="hacienda.id">{{ hacienda.nombre }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Código</label>
        <input type="text" class="form-control" formControlName="codigo" placeholder="Ingrese código" maxlength="5"
               pattern="^[0-9]{1,5}$" />
        <!-- Mensaje de error si el código no es válido -->
        <div *ngIf="codigoControl?.invalid && codigoControl?.touched" class="text-danger">
          <div *ngIf="codigoControl?.errors?.['required']">El código es obligatorio.</div>
          <div *ngIf="codigoControl?.errors?.['maxlength']">El código no puede tener más de 5 dígitos.</div>
          <div *ngIf="codigoControl?.errors?.['pattern']">El código debe ser un número de 1 a 5 dígitos.</div>
        </div>

      </div>
    </form>
  </div>

  <div *ngIf="datosPivotados.length > 0" class="table-responsive">
    <table id="tablaProduccion" class="table table-bordered table-sm table-hover w-100"></table>


  </div>
</div>
