<div class="col-xxl-4 col-sm-6 col-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Income</div>
    </div>
    <div class="card-body">

      <div class="scroll370">
        <div class="income-stats-container">
          <div class="income-stats">
            <div class="income-graph">
              <div id="overallSales" class="svg-container"></div>
            </div>
            <div class="income-info">
              <h3>75<sup>k</sup></h3>
              <p>Overall Sales</p>
            </div>
            <div class="income-high-low">
              18% <span class="bi bi-caret-up-fill text-green"></span>
            </div>
          </div>
          <div class="income-stats">
            <div class="income-graph">
              <div id="overallExpenses" class="svg-container"></div>
            </div>
            <div class="income-info">
              <h3>33<sup>k</sup></h3>
              <p>Overall Expenses</p>
            </div>
            <div class="income-high-low">
              7% <span class="bi bi-caret-down-fill text-red"></span>
            </div>
          </div>
          <div class="income-stats">
            <div class="income-graph">
              <div id="overallIncome" class="svg-container"></div>
            </div>
            <div class="income-info">
              <h3>42<sup>k</sup></h3>
              <p>Overall Income</p>
            </div>
            <div class="income-high-low">
              21% <span class="bi bi-caret-up-fill text-green"></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
