<div class="module-card">

    <!-- HEADER -->
    <div class="module-header d-flex justify-content-between align-items-center flex-wrap">

        <div class="module-header">
            <div>
                <h4 class="module-title">
                    <i class="bi bi-newspaper"></i>
                    Inventario

                </h4>
                <small class="module-subtitle">
                    Control de insumos
                </small>
            </div>
        </div>



        <div class="acciones-bar">
            <button class="btn btn-primary btn-sm btn-pro" (click)="openProducto()">
                <i class="bi bi-boxes"></i> Producto
            </button>

            <button class="btn btn-success btn-sm btn-pro" (click)="openMovimiento('INGRESO')">
                <i class="bi bi-arrow-up-circle"></i> Ingreso
            </button>

            <button class="btn btn-danger btn-sm btn-pro" (click)="openMovimiento('SALIDA')">
                <i class="bi bi-arrow-down-circle"></i> Salida
            </button>
        </div>

    </div>


    <!-- FILTROS -->
    <div class="filters-bar">

        <div class="row g-2 align-items-center">

            <!-- BUSCADOR PRO -->
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                    <input class="form-control" placeholder="Buscar producto..." [(ngModel)]="filtro.texto"
                        (ngModelChange)="filtrar()">
                </div>
            </div>

            <!-- FILTRO STOCK -->
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="filtro.stock" (change)="filtrar()">
                    <option value="">📦 Todos</option>
                    <option value="bajo">⚠️ Stock bajo</option>
                </select>
            </div>

            <!-- INDICADORES -->
            <div class="col-md-5 text-end">

                <span class="badge-fecha">
                    <i class="bi bi-box-seam"></i>
                    {{ productosFiltrados.length }} productos
                </span>

            </div>

        </div>

    </div>
    <div class="kpi-bar mt-2">

        <div class="kpi-card danger">
            <i class="bi bi-x-circle"></i>
            <div>
                <span class="kpi-value">{{ sinStock }}</span>
                <small>Sin stock</small>
            </div>
        </div>

        <div class="kpi-card warning">
            <i class="bi bi-exclamation-triangle"></i>
            <div>
                <span class="kpi-value">{{ stockBajo }}</span>
                <small>Stock bajo</small>
            </div>
        </div>

        <div class="kpi-card success">
            <i class="bi bi-check-circle"></i>
            <div>
                <span class="kpi-value">{{ stockOk }}</span>
                <small>Disponibles</small>
            </div>
        </div>

    </div>
    <!-- TABLA -->
    <app-tabla [data]="productosFiltrados" (verKardex)="openKardex($event)" (asignar)="abrirAsignacion($event)">
    </app-tabla>

</div>

<!-- MODALES -->
<app-producto-form *ngIf="showProducto" (close)="showProducto=false" (saved)="cargar()">
</app-producto-form>

<app-movimiento-form *ngIf="showMovimiento" [tipo]="tipoMovimiento" (close)="showMovimiento=false" (saved)="cargar()">
</app-movimiento-form>

<app-kardex *ngIf="showKardex" [producto]="productoSeleccionado" (close)="showKardex=false">
</app-kardex>

<app-asignacion-form *ngIf="showAsignacion" [producto]="productoSeleccionado" (close)="showAsignacion=false"
    (saved)="cargar()">
</app-asignacion-form>