<div class="page-wrapper">
  <div class="page-header">
    <div class="toggle-sidebar" id="toggle-sidebar" (click)="toggleSidebar()">
      <i class="bi bi-list"></i> <!-- Ícono del botón hamburguesa -->
    </div>
  </div>

<app-sidebar [menuItems]="menuItems"
             [userRole]="userRole"
             [userGroup]="userGroup "
             [sidebarVisible]="isSidebarVisible"></app-sidebar>
  <div class="main-container" [class.sidebar-visble]="isSidebarVisible">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>

</div>
