<app-loader [loading]="loading"></app-loader>

<div class="container-fluid">
  <div class="container my-3">
    <form [formGroup]="filtroForm" class="row g-3">
      <div class="col-md-4">
        <label class="form-label">Hacienda</label>
        <select class="form-select" formControlName="idhacienda">
          <option value="">Seleccione Hacienda</option>
          <option *ngFor="let hacienda of haciendas" [value]="hacienda.id">{{ hacienda.nombre }}</option>
        </select>
      </div>

    <!--  <div class="col-md-4">
        <label class="form-label">Cinta Color:</label>
        <input type="text" class="form-control" formControlName="codigo" placeholder="Ingrese código" maxlength="5"
               pattern="^[0-9]{1,5}$" />
        &lt;!&ndash; Mensaje de error si el código no es válido &ndash;&gt;
        <div *ngIf="codigoControl?.invalid && codigoControl?.touched" class="text-danger">
          <div *ngIf="codigoControl?.errors?.['required']">El código es obligatorio.</div>
          <div *ngIf="codigoControl?.errors?.['maxlength']">El código no puede tener más de 5 dígitos.</div>
          <div *ngIf="codigoControl?.errors?.['pattern']">El código debe ser un número de 1 a 5 dígitos.</div>
        </div>

      </div>-->
      <!-- Año -->
      <div class="col-md-3 col-lg-2">
        <label class="form-label">Año</label>
        <input type="number"
               class="form-control"
               formControlName="anio"
               min="2020"
               max="{{ anioDefault }}">
      </div>

      <!-- Código -->
      <div class="col-md-5 col-lg-3 col-auto">
        <label class="form-label">Cinta Color</label>
        <select class="form-select" formControlName="codigo">
          <option value="">Seleccione código</option>
          <option *ngFor="let c of codigos" [value]="c.codigo"  [ngStyle]="{
            'background-color': getColorByNombre(c.color),
            'color': getContrasteColor(getColorByNombre(c.color)),
            'font-weight': 'bold'
          }">
            {{ c.codigo }} - {{ c.color }}
          </option>
        </select>



      </div>

    </form>
  </div>

  <div *ngIf="datosPivotados.length > 0" class="table-responsive">
    <table id="tablaProduccion" class="table table-bordered table-sm table-hover w-100"></table>


  </div>
</div>
