<div class="login-container" >
<!-- Login box start -->
<form>
  <div class="login-box">
    <div class="login-form">
      <a routerLink="/login" class="login-logo">
        <img src="assets/images/SistemaHac/Logo/bananas.svg" alt="Vico Admin" />
      </a>
      <div class="login-welcome">
        In order to access your Vivo account,<br />please enter the email id you provided during the registration
        process.
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter your email">
      </div>
      <div class="login-form-actions">
        <button type="submit" class="btn"> <span class="icon"> <i class="bi bi-arrow-right-circle"></i> </span>
          Submit</button>
      </div>
    </div>
  </div>
</form>
<!-- Login box end -->
</div>
